<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Jokes</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1 id="title">Chuck Norris Jokes</h1>
        <img src="images/chuck.png">
        <div  class="container2">
            <div id="joke"><%= joke %></div>
            <form method="GET" action="/">
                <button>Another Joke!</button>
            </form>
            
        </div>
        
    </div>
</body>
</html>